.option__container {
  @include flex-column;

  align-items: center;
  margin: $option-margin;
  &:hover {
    cursor: pointer;
  }
}

.option__title-container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.option__name {
  @include onTop;
  margin-left: 24px;
}

.option__icon-container {
  display: flex;
  align-self: center;
}

.option__icon {
  @include icons;
  @include onTop;
}

.transparency {
  position: absolute;
  left: 7px;
  top: 185px;
  height: 66px;
  width: 277px;
  background-color: $secondary;
  opacity: 0;
}
