@mixin icons {
  height: 20px;
  width: 20px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin onTop {
  z-index: 1;
  background-color: transparent;
}

@mixin title {
  display: flex;
  height: 110px;
  align-items: center;
  margin-left: 40px;
}
