//COLORS
$main-font-color: #556685;
$primary: #5a55ab;
$secondary: #f9f8fc;

//LOGO
$logo-height: 20px;
$logo-width: 98px;

//OPTION
$option-height: 66px;
$options-margin: 0 0 0 43.3px;

//MARGINS
$option-margin: 22px 0 22px 40px;
$submenu-margins: 16px 0;
