* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: $main-font-color;
  background-color: #fff;
}

ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin-left: 84px;
  cursor: pointer;
}

.App {
  background-color: $secondary;
}

.sidebar {
  @include flex-column;
  height: 1190px;
  width: 276px;
}

.logo {
  position: absolute;
  height: $logo-height;
  width: $logo-width;
  margin: $options-margin;
}

.title {
  display: flex;
  height: 110px;
  align-items: center;
  margin-left: 40px;
}

.options {
  @include flex-column;
}
